.logo {
  position: absolute;
  left: 50%;
  top: 6%;
  transform: translateX(-50%);
  z-index: 100;
  cursor: pointer;
}

.hamburger{
  position: absolute;
  left: 89%;
  top: 6%;
  z-index: 100;
  mix-blend-mode: difference;
  cursor: pointer;
}


#section12 .cover{
  position: relative;
  width: 100vw;
  height: 100vh;
}

#section12 .cover .video{
  position:relative;
}

#section12 .video_btn {
  position: absolute;
  right: 3%;
  bottom: 5%;
  cursor: pointer;
  mix-blend-mode: difference;
}

#section12 .video_btn .video_c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}



#section13{
  position: relative;
  height: 4771px;
  background: url('../img/section13/bg.jpg');
  /*background: url('../img/section13/13.jpg');*/
}

#section13 .visual_container{
  position: relative;
}

#section13 .title_container01{
  position: relative;
}

#section13 .title_container01 .title01{
  position: absolute;
  left: 8%;
  top: 294px;
  /*margin-bottom: 30px;*/
}

#section13 .title_container01 .txt01{
  position: absolute;
  left: 8%;
  top: 420px;
}


#section13 .line{
  position: relative;
}


#section13 .line .line01{
  position: absolute;
  left: 0;
  top: 392px;
  overflow: hidden;
  width: 0;
}
/*라인이 안나와요*/


#section13 .arrow{
  position: relative;
}

#section13 .arrow .arrow01{
  position: absolute;
  left: 66%;
  top: 293px;
}


#section13 .video{
  position: relative;
}


#section13 .video .video_img{
  position: absolute;
  left: 50%;
  top: 545px;
  transform: translateX(-50%);
}


#section13 .title_container02{
  position: relative;
}


#section13 .title_container02 .title02{
  position: absolute;
  left: 8%;
  top: 1695px;
}


#section13 .title_container02 .txt02{
  position: absolute;
  left: 8%;
  top: 1809px;
}


#section13 .line .line02{
  position: absolute;
  left: 0;
  top: 1848px;
  /*overflow: hidden;*/
  /*width: 0;*/
}


#section13 .arrow .arrow02{
  position: absolute;
  left: 46%;
  top: 1701px;
}



/*#section13  .title_w{*/
/*  position: relative;*/
/*}*/

#section13 .line_w{
  position: absolute;
  left: 0;
  top: 3300px;
}

#section13 .title_w {
  position: absolute;
  left: 0;
  top: 3363px;
  /*margin-bottom: 30px;*/
  text-align: center;
  z-index: 600;
}

#section13 .title_w .w {
  display: flex;
  animation: w 7s infinite linear;
}

#section13 .title_w .w {
  position: absolute;
  width: 100vw;
  right: 0;
}

#section13 .title_w .w > div{
  margin-right: 50px;
}

@keyframes w {
  to {
    transform: translateX(1408px);
  }
}



#section13 .img01{
  position: absolute;
  left: 0;
  top: 3747px;
}


