
#section01{
    height: 100vh;
}

#section01 .front{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: blue;
    z-index: 10;
}

#section01 .front .logo01{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 50px;
    opacity: 0;
}

#section01 .back{
    width: 100vw;
    height: 100vh;
    position: relative;
}

#section01 .back .video{
    position: relative;
    background: black;
}

#section01 .arrow_container{
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    margin-top: -50px;
    opacity: 0;
}

#section01 .arrow_container .btn_c{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


#section01 .arrow_container .arrow{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}



#section01 .video_btn {
    position: absolute;
    right: 3%;
    bottom: 5%;
    cursor: pointer;
    mix-blend-mode: difference;
}

#section01 .video_btn .video_c {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

