

#section01{
    /*background:url(../img/section01/01.jpg);*/
    /*Height:2136px;*/
    background: black;
    height: 100vh;
}


#section01 .front{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    background:blue;
    z-index: 10;
}



#section01 .front .logo_01{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}


#section01 .back{
    width: 100vw;
    height: 100vh;
    position: relative;
    /*background: blue;*/
}


#section01 .back .mov_01{

    position: relative;
}


#section01 .back .logo_02{
    position: absolute;
    left: 0;
    top: 0;
    /*left: 841px;*/
    /*top: 1540px;*/
    /*transform: translateX(-50%);*/
    /*opacity: 0;*/
    /*z-index: 1;*/

}


#section01 .back .down_c{
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
}

#section01 .arrow_container{
    background:red;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: 50px;
}


#section01 .arrow_container .arrow{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}


#section01 .back .play_btn_c_01 {
    position: absolute;
    left: 0;
    top: 0;
}


#section01 .back .play_btn_01 {
    position: absolute;
    left: 0;
    top: 0;
}
















