
#menu_pp {
  width: 100vw;
  height: calc(100vh - 80px);
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: white;
  transform: translateY(-130%);
  overflow: hidden;
  /*background: url("../img02/section01/bg2.jpg");*/
  /*display: none;*/
}

#menu_pp .left_box {
  width: 436px;
}

#menu_pp .left_box {
  /*height: 864px;*/
  height: calc(100vh - 80px);
  border-right: 1px solid black;
}

#menu_pp .right_box {
  flex: 1;
}

#menu_pp .right_box .top {
  position: relative;
}

#menu_pp .right_box .top .deco {
  position: absolute;
  right: 465px;
  top: 12px;
}

#menu_pp .right_box .top .title_s {
  position: absolute;
  right: 193px;
  top: 110px;
}

#menu_pp .right_box .menuList{
  display: flex;
  flex-direction: column;
  padding-top: 140px;
}

#menu_pp .right_box .menuList > li{
  padding: 16px 60px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  position: relative;
}

#menu_pp .right_box .menuList > li .title{
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
  filter: invert(1);
}

#menu_pp .right_box .menuList > li .bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#menu_pp .right_box .menuList > li .dark{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  transform: translateY(-100%);
  /*-100%가 밑으로 100내리는 거였나? 일단 어둠 안 보여야 되니깐 밑으로 숨기기?*/
}

#menu_pp .right_box .menuList > li:nth-child(1){
  border-top: 1px solid black;
  box-sizing: border-box;
}

#menu_pp .right_box .menuList > li .img{
  position: absolute;
  left: -1px;
  top: -1px;
  transform: translateX(-100%);
}

#menu_pp .right_box .menuList > li .img img{
  transform: scaleY(0);
  /*세로로 펼쳐져야해서 y사용 0은 안보이게 보이게는 자바스크립트에서 했었나?*/
}

#menu_pp .right_box .menuList .last .img{
  width: 437px;
  height: 138px;
}

#menu_pp .right_box .menuList .last .img .cover{
  height: 138px;
  transform: scaleY(0);
}

#menuSlider{
  width: 437px;
  height: 140px;
}

#menuSlider .slick-slide{
  width: 437px;
  height: 140px;
  position: relative;
}

#menu_pp .right_box .menuList .last .img img{
  transform: scaleY(1);
  position: absolute;
  left: 0;
  top: 0;

}


#menu_pp .bottom {
  position: relative;
  display: flex;
}

#menu_pp .bottom .icon{
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  padding-top: 96px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu_pp .bottom .icon > div{
  margin-right: 10px;
}

#menu_pp .bottom .info {
  padding-top: 83px;
  margin-left: 60px;
}

#menu_pp .bottom .num {
  padding-top: 114px;
  margin-left: 996px;
}






header {
  background: url("../pp/img/section01/header_bg.jpg");

  /*background: url("../img/section01/bg.jpg");*/

  width: 100vw;
  height: 80px;
  border-bottom: 1px solid white;
  position: fixed;
  left: 0;
  top: 0;
  /*display: flex;*/
  justify-content: space-between;
  align-items: center;
  z-index: 999;

  transition: top 0.2s ease-in-out;
  /*display: none;*/
  /*opacity: .5;*/
}

.nav-up {
  top: -80px;
}


header .logo {
  /*padding-top: 34px;*/
  /*margin-left: 178px;*/
  position: absolute;
  left: 178px;
  top: 34px;
  cursor: pointer;
  z-index: 1000;
}


header .nav_btn {
  width: 222px;
  height: 30px;
  position: absolute;
  left: 325px;
  top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /*visibility: hidden;*/
}


header .navbar {
  width: 304px;
  height: 37px;
  position: absolute;
  left: 50%;
  top: 27%;
  transform: translateX(-50%);
  cursor: pointer;
  background: #fff;
  border: 1px solid black;
  border-radius: 13px;
  display: flex;
  align-items: center;
  overflow: hidden;
  /*filter: invert(1);*/
}

header .navbar:hover {
  border: 1px solid #006eff;
}

header .navbar .nav_title {
  padding-top: 5px;
  display: flex;
  animation: text 3s infinite linear;
}

header .navbar .nav_title > div {
  margin-right: 10px;
}

@keyframes text {
  to {
    transform: translateX(-138px);
  }
}


header .menu {
  display: flex;
  align-items: center;
  padding-top: 23px;
  margin-left: 1696px;
  /*z-index: 2000;*/
  /*margin-right: 120px;*/

  /*색반전 안됨*/
  mix-blend-mode: difference;
  position: relative;
}

header .menu .label {
}

header .menu .menu_bg {
  width: 39px;
  height: 39px;
  margin-left: 16px;
  background: url('../pp/img/section01/menu_bg.png') no-repeat center;
  position: relative;
  z-index: 2000;
}

header .menu .menu_bg .bar {
  width: 19px;
  height: 2px;
  background: black;
}

header .menu .menu_bg .bar:nth-child(1) {
  position: absolute;
  left: 10px;
  top: 15px;
  transform-origin: left center;
}

header .menu .menu_bg .bar:nth-child(2) {
  position: absolute;
  left: 10px;
  top: 23px;
  transform-origin: right center;
}




.logo {
  position: absolute;
  left: 50%;
  top: 6%;
  transform: translateX(-50%);
  z-index: 100;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  left: 89%;
  top: 6%;
  z-index: 100;
  cursor: pointer;
}

#section01 {
  /*background:url("../img/section01/01_02.jpg");*/
  /* height: 100vh; */
}

#section01 .cover {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

#section01 .txt_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 600;
}

#section01 .txt_container > div .float_img {
  position: absolute;
  left: 0;
  top: 0;
  /*left: 90%;*/
  /*top: -92%;*/
  opacity: 0;
  transition: all 1s;
  z-index: 300;
}

#section01 .txt_container > div:hover .float_img {
  opacity: 1;
}

#section01 .txt_container .title01 .float_img {
  margin-left: 1131px;
  margin-top: -102px;
}

#section01 .txt_container > div {
  position: relative;
  margin-bottom: 35px;
}

#section01 .txt_container > div .text01 {
  position: relative;
}

#section01 .txt_container > div .text01 .fill01 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  margin-top: 3px;
  opacity: 0;
  transition: all 1s;
}

#section01 .txt_container > div:hover .text01 .fill01 {
  opacity: 1;
}

#section01 .txt_container .title02 .float_img {
  margin-left: 1183px;
  margin-top: -102px;
}

#section01 .txt_container > div .text02 {
  position: relative;
}

#section01 .txt_container > div .text02 .fill02 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  margin-top: 3px;
  opacity: 0;
  transition: all 1s;
}

#section01 .txt_container > div:hover .text02 .fill02 {
  opacity: 1;
}

#section01 .txt_container .title03 .float_img {
  margin-left: 964px;
  margin-top: -81px;
}

#section01 .txt_container > div .text03 {
  position: relative;
}

#section01 .txt_container > div .text03 .fill03 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  /*margin-top: 3px;*/
  opacity: 0;
  transition: all 1s;
}

#section01 .txt_container > div:hover .text03 .fill03 {
  opacity: 1;
}

#section01 .txt_container .title04 .float_img {
  margin-left: 1160px;
  margin-top: -72px;
}

#section01 .txt_container > div .text04 {
  position: relative;
}

#section01 .txt_container > div .text04 .fill04 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  margin-top: 3px;
  opacity: 0;
  transition: all 1s;
}

#section01 .txt_container > div:hover .text04 .fill04 {
  opacity: 1;
}

#section01 .txt_container .title04 {
  margin-bottom: 0;
}

#section01 .rotate_c {
  position: absolute;
  left: 458px;
  top: 230px;
  z-index: 300;

  animation: rotate_c 6s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_c {
  100% {
    transform: rotate(360deg);
  }
}

#section01 .cover .video_main {
  width: 50vw;
  position: relative;
  overflow: hidden;
}

#section01 .cover .video_main video {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

#section01 .cover .video_main video.on {
  opacity: 1;
  z-index: 1;
}

#section01 .cover .video_dim {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
}

#section01 .cover .right {
  background: black;
}

#section02 {
  height: 5534px;
  background: url('../img/section02/back_black.jpg');
}

#section02 .circle {
  width: 100vw;
  height: 100vh;
  background: url('../img/section02/back.jpg');
  position: absolute;
  left: 0;
  top: 0;
  clip-path: circle(0px at 50% 50%);
}

.trigger-this-2 {
  height: 100%;
  z-index: 100;
  position: relative;
}

.fix-this-2 {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.trigger-this-2-title {
  height: 100%;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
}

.fix-this-2-title {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#section02 .title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;

  /*margin-top: 1400px;*/
}

#section02 .top_text {
  overflow: hidden;
  height: 69px;
  position: relative;
}
#section02 .title > div {
  margin-bottom: 29px;
}

#section02 .title > div:last-child {
  margin-bottom: 0;
}

#section02 .bottom_text {
  overflow: hidden;
  height: 77px;
  position: relative;
}

#section02 .img > div {
  z-index: 100;
  /*이미지가 뒤로 안가요*/
}

#section02 .img01 {
  position: absolute;
  left: 9%;
  top: 34%;
}

#section02 .img02 {
  position: absolute;
  left: 68%;
  top: 42%;
}

#section02 .img03 {
  position: absolute;
  left: 27%;
  top: 46%;
}

#section02 .img04 {
  position: absolute;
  left: 49%;
  top: 55%;
}

#section02 .img05 {
  position: absolute;
  left: 9%;
  top: 68%;
}

#section02 .img06 {
  position: absolute;
  left: 50%;
  top: 73%;
}

/*#section02 .title02 {*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  !*top: 50%;*!*/
/*  transform: translateX(-50%);*/
/*  text-align: center;*/
/*  margin-top: 4800px;*/
/*  z-index: 1000;*/
/*}*/

/*#section02 .title02 > div {*/
/*  margin-bottom: 29px;*/
/*}*/

/*#section02 .title02 > div:last-child {*/
/*  margin-bottom: 0;*/
/*}*/

#section03 .horizontal {
  width: min-content;
  display: flex;
  height: 100vh;
  position: relative;
}

#section03 .horizontal > section {
  flex-shrink: 0;
  /*width: 100vw;*/
  width: 4749px;
  /*이미지 사이즈는 4749인데 무조건 5000으로 해야하는지 몰겠음. 4749하니깐 끝에 회색나옴*/
  height: 100vh;
  /*background: orange;*/
  background: url('../img/section03/back.jpg');
  position: relative;
}

#section03 .horizontal > section:nth-child(even) {
  background: green;
}
/*이 코드는 왜 들어가야하는지 이유를 몰겠어요*/

#section03 .horizontal .title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#section03 .horizontal .img {
  position: absolute;
  top: 50%;
  left: 74%;
  transform: translate(-50%, -50%);
}

/*사진이 안떠요,,, 됐습니다.*/

#section04 {
  height: 3040px;
  /*background: url('../img/section04/04.jpg');*/
  background: url('../img/section04/back.jpg');
}

#section04 .title {
  position: absolute;
  left: 0;
  top: 317px;
  /* left: 50%; */
  /* transform: translateX(-50%); */

  text-align: center;
  z-index: 600;
}

#section04 .title .fill04 {
  display: flex;
  animation: fill04 7s infinite linear;
}

#section04 .title .fill04 {
  position: absolute;
  width: 100vw;
  right: 0;
}

#section04 .title .fill04 > div:nth-child(1) {
  margin-right: 50px;
}

@keyframes fill04 {
  to {
    transform: translateX(1924px);
  }
}

#section04 .title .stroke04 {
  position: absolute;
  left: 0;
  top: 178px;
}

#section04 .title .stroke04 {
  display: flex;
  animation: stroke04 7s infinite linear;
}

#section04 .title .stroke04 > div:nth-child(1) {
  margin-right: 50px;
}

@keyframes stroke04 {
  to {
    transform: translateX(-1924px);
  }
}

#section04 .rotate_c {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 170px;
  margin-left: 1200px;
  /*left: 470px;*/
  /*top: 280px;*/
  z-index: 500;

  animation: rotate_c 5s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_c {
  100% {
    transform: rotate(360deg);
  }
}

#section04 .img01 {
  position: absolute;
  left: 392px;
  top: 553px;
}

#section04 .img02 {
  position: absolute;
  left: 925px;
  top: 1342px;
}
/*스크롤하면서 사진 올라가는거 하고 싶음*/
/*img01은 왼쪽방향으로 꺽이고 img02는 오른쪽 방향으로 꺾이는?*/

#section04 .txt_container {
  position: relative;
  /*left: 0;*/
  /*top: 0;*/
}

#section04 .txt_container .title02 {
  position: absolute;
  left: 160px;
  /*top: 0;*/
  top: 2118px;
}

#section04 .arrow {
  position: absolute;
  left: 1296px;
  top: 2121px;
  z-index: 500;
}

#section04 .txt_container .title03 {
  position: absolute;
  left: 161px;
  /*top: 0;*/
  top: 2417px;
}

#section04 .txt_container .txt {
  position: absolute;
  left: 961px;
  top: 2417px;
}

#section04 .line {
  position: relative;
}

#section04 .line .line01 {
  position: absolute;
  left: 0;
  top: 2257px;
  overflow: hidden;
  width: 0;
}

#section04 .line .line02 {
  position: absolute;
  right: 0;
  top: 2639px;
  overflow: hidden;
  width: 0;
}
/*라인 오른쪽에서 나와서 가운데에서 멈추게하고싶음*/

/*#section05{*/
/*    height: 3040px;*/
/*    background:url("../img/section04/back.jpg");*/
/*}*/

#section05 .horizontal {
  width: min-content;
  display: flex;
  height: 100vh;
  position: relative;
  /*background:url("../img/section05/05.jpg");*/
}

#section05 .horizontal > section {
  flex-shrink: 0;
  /*width: 100vw;*/
  width: 5000px;
  height: 100vh;
  /*background: orange;*/
  background: url('../img/section05/back.jpg');
  position: relative;
}

#section05 .horizontal > section:nth-child(even) {
  background: green;
}

#section05 .horizontal .title01 {
  position: absolute;
  left: 1750px;
  top: 218px;
  z-index: 100;
}
/*글씨 스크롤하면서 오른쪽 나오게 하고시펑요*/

#section05 .horizontal .title02 {
  position: absolute;
  left: 2700px;
  top: 556px;
  z-index: 100;
}

#section05 .horizontal .img01 {
  position: absolute;
  left: -380px;
  top: 148px;
}

#section05 .horizontal .img02 {
  position: absolute;
  left: 3540px;
  top: 132px;
}

#section05 .rotate_c01 {
  position: absolute;
  left: 1496px;
  top: 518px;
  animation: rotate_c01 5s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_c01 {
  100% {
    transform: rotate(360deg);
  }
}

#section05 .rotate_c02 {
  position: absolute;
  left: 2390px;
  top: 218px;
  animation: rotate_c02 5s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_c02 {
  100% {
    transform: rotate(360deg);
  }
}

#section06 {
  height: 1200px;
  background: url('../img/section06/back.jpg');
}

#section06 .title {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 21%;
  text-align: center;
  z-index: 600;
}

#section06 .title .fill06 {
  display: flex;
  justify-content: flex-end;
  animation: fill06 7s infinite linear;
}

#section06 .title .fill06 {
  position: absolute;
  width: 100vw;
  right: 0;
}

#section06 .title .fill06 > div {
  margin-left: 50px;
}

@keyframes fill06 {
  to {
    transform: translateX(1440px);
  }
  /*계산하는법 모르겠어요*/
}

#section06 .title .stroke06 {
  position: absolute;
  left: 0;
  top: 172px;
}

#section06 .title .stroke06 {
  display: flex;
  justify-content: flex-end;
  animation: stroke06 7s infinite linear;
}

#section06 .title .stroke06 > div {
  margin-right: 50px;
}

@keyframes stroke06 {
  to {
    transform: translateX(-1412px);
  }
}

#section06 .img06 {
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translateX(-50%);
}

#section07 .cover {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  background: url('../img/section07/back.jpg');
}

#section07 .cover .left {
  width: 50vw;
  position: relative;
}

#section07 .left .txt01 {
  position: absolute;
  left: 50%;
  top: 14%;
  transform: translateX(-50%);
  /*transform: translate(-50%, -50%);*/
  text-align: center;
  z-index: 600;
}

#section07 .left .txt02 {
  position: absolute;
  left: 50%;
  top: 83%;
  transform: translateX(-50%);
  /*transform: translate(-50%, -50%);*/
  text-align: center;
  z-index: 600;
}

#section07 .title > div {
  position: relative;
  margin-bottom: 65px;
}

#section07 .left .title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 600;
}

#section07 .left .title > div {
  overflow: hidden;
  position: relative;
}

#section07 .left .title > div > img {
  transform: translateY(100%);
  transition: all 0.5s;
}

#section07 .left .title > div:nth-child(1) > img {
  transition-delay: 0.1s;
}
#section07 .left .title > div:nth-child(2) > img {
  transition-delay: 0.2s;
}
#section07 .left .title > div:nth-child(3) > img {
  transition-delay: 0.3s;
}
#section07 .left .title > div:nth-child(4) > img {
  transition-delay: 0.4s;
}

#section07.on .left .title > div > img {
  transform: translateY(0);
}

#section07 .left .title .title04 {
  margin-bottom: 0;
}

#section07 .cover .right {
  width: 50vw;
  position: relative;
  overflow: hidden;
}

#section07 .right .title_w {
  position: absolute;
  left: 50%;
  top: 50%;
  /*transform: translateX(-50%);*/
  transform: translate(-50%, -50%) rotate(30deg);
  text-align: center;
  z-index: 600;
}

#section07 .title_w > div {
  position: relative;
  margin-bottom: 100px;
}

#section07 .title_w .w04 {
  margin-bottom: 0;
}

#section07 .right .w01 {
  margin-left: -300px;
}

#section07 .right .w02 {
  margin-left: 350px;
}

#section07 .right .w03 {
  margin-left: -100px;
}

#section07 .right .w04 {
  margin-left: 100px;
}

svg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  transform:scale(1.3)
  /*transform:scale(0.5)*/
}

#section08{
  height: initial;
  overflow: hidden;
}

#section08 .video {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#section09 .horizontal {
  width: min-content;
  display: flex;
  height: 100vh;
  position: relative;
}

#section09 .horizontal > section {
  flex-shrink: 0;
  width: 4410px;
  height: 100vh;
  position: relative;
  background: url('../img/section09/bg.jpg');
}

#section09 .horizontal > section:nth-child(even) {
  background: green;
}

#section09 .horizontal .dim {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}

#section09 .horizontal .title {
  position: absolute;
  left: 95%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

#section09 .horizontal .circle {
  position: absolute;
  left: 138%;
  top: 36%;
  z-index: 200;
}

#section09 .circle .arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
}

#section09 .circle .arrow .arrow09 {
  position: relative;
}

#section09 .circle .arrow .arrow09 .fill {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  margin-top: 1px;
  opacity: 0;
  transition: all 1s;
  cursor: pointer;
}

#section09 .circle > div:hover .arrow09 .fill {
  opacity: 1;
}

#section10 {
  height: 733px;
  /*background: url('../img/section10/10.jpg');*/
  background: url('../img/section10/bg.jpg');
}

#section10 .left {
  /*width: 100vw;*/
  position: relative;
}

#section10 .img {
  position: absolute;
  left: 17%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 200;
}

/*#section10 .title {*/
/*  position: absolute;*/
/*  left: 8%;*/
/*  top: 50%;*/
/*  transform: translateY(-50%);*/
/*}*/

#section10 .title .st_01 {
  position: absolute;
  left: 8%;
  top: 25%;
  z-index: 300;
}


#section10 .title .t_02 {
  position: absolute;
  left: 8%;
  top: 42%;
  z-index: 300;
}

#section10 .title .st_03 {
  position: absolute;
  left: 8%;
  top: 58%;
  z-index: 100;
}

#section10 .title > div {
  overflow: hidden;
  position: relative;
}

#section10 .title > div > img {
  transform: translateY(100%);
  transition: all 0.5s;
}

#section10 .title > div:nth-child(1) > img {
  transition-delay: 0.1s;
}
#section10 .title > div:nth-child(2) > img {
  transition-delay: 0.2s;
}
#section10 .title > div:nth-child(3) > img {
  transition-delay: 0.3s;
}

#section10.on .title > div > img {
  transform: translateY(0);
}

#section10 .text {
  position: relative;
  cursor: pointer;
}

#section10 .text .txt {
  position: absolute;
  /*left: 77%;*/
  /*top: 1178%;*/
  left: 0;
  top: 0;
  margin-top: 188px;
  margin-left: 1475px;
}

#section10 .text .get10 {
  position: absolute;
  /*left: 77%;*/
  /*top: 1947%;*/
  left: 0;
  top: 0;
  margin-top: 314px;
  margin-left: 1475px;
}

#section10 .arrow {
  position: relative;
  cursor: pointer;
}

#section10 .arrow .arrow_s {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 314px;
  margin-left: 1724px;
  /*left: 90%;*/
  /*top: 43%;*/
}

#section10 .arrow .line {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 342px;
  margin-left: 1475px;
}


.startPoint .btn {
  /*position: absolute;*/
  /*right: 177px;*/
  /*bottom: 102px;*/
  /*cursor: pointer;*/
}

.startPoint .btn .circle {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}


.startPoint .btn .circle .arrow10 {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  z-index: 300;
}

.startPoint .btn .arrow10 {
  position: relative;
}

.startPoint .btn > div .arrow10 {
  position: relative;
}

.startPoint .btn > div .arrow10 .fill {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  margin-top: 2px;
  opacity: 0;
  transition: all 1s;
}

.startPoint .btn > div:hover .arrow10 .fill {
  opacity: 1;
}