
.logo{
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translateX(-50%);
    z-index: 100;
}


.hamburger{
    position: absolute;
    left: 89%;
    top: 6%;
    z-index: 100;
}


#section01{
    /*background:url("../img/section01/01_02.jpg");*/
    height: 1078px;
}


#section01 .cover{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}


#section01 .txt_container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 600;
}



#section01 .txt_container > div .float_img{
    position: absolute;
    left: 0;
    top: 0;
    /*left: 90%;*/
    /*top: -92%;*/
    opacity: 0;
    transition: all 1s;
    z-index: 300;

}


#section01 .txt_container > div:hover .float_img{
    opacity: 1;
}


#section01 .txt_container .title01 .float_img{
    margin-left: 1260px;
    margin-top: -102px;
}


#section01 .txt_container > div{
    position: relative;
    margin-bottom: 35px;
}


#section01 .txt_container > div .text01{
    position: relative;
}


#section01 .txt_container > div .text01 .fill01{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    margin-top: 3px;
    opacity: 0;
    transition: all 1s;
}


#section01 .txt_container > div:hover .text01 .fill01{
    opacity: 1;
}



#section01 .txt_container .title02 .float_img{
    margin-left: 1313px;
    margin-top: -102px;
}


#section01 .txt_container > div .text02{
    position: relative;
}


#section01 .txt_container > div .text02 .fill02{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    margin-top: 3px;
    opacity: 0;
    transition: all 1s;
}


#section01 .txt_container > div:hover .text02 .fill02{
    opacity: 1;
}




#section01 .txt_container .title03 .float_img{
    margin-left: 1409px;
    margin-top: -81px;
}


#section01 .txt_container > div .text03{
    position: relative;
}


#section01 .txt_container > div .text03 .fill03{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    margin-top: 3px;
    opacity: 0;
    transition: all 1s;
}


#section01 .txt_container > div:hover .text03 .fill03{
    opacity: 1;
}



#section01 .txt_container .title04 .float_img{
    margin-left: 1289px;
    margin-top: -72px;
}


#section01 .txt_container > div .text04{
    position: relative;
}


#section01 .txt_container > div .text04 .fill04{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    margin-top: 3px;
    opacity: 0;
    transition: all 1s;
}


#section01 .txt_container > div:hover .text04 .fill04{
    opacity: 1;
}


#section01 .txt_container .text04{
    margin-bottom: 0;
}




#section01 .rotate_c{
    position: absolute;
    left: 470px;
    top: 280px;
    z-index: 300;

    animation: rotate_c 5s linear infinite;transform-origin: 50% 50%;}
@keyframes rotate_c{
    100% {
        transform: rotate(360deg);
    }
}





#section01 .cover .video_main{
    width: 50vw;
    position: relative;
    overflow: hidden;
}


#section01 .cover .video_main video{
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: -1;
    transition: all .5s;
}


#section01 .cover .video_main video.on{
    opacity: 1;
    z-index: 1;
}



#section01 .cover .video_dim{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.1);
}


#section01 .cover .right{
    background: black;
}



#section02{
    height: 5534px;
    background:url("../img/section02/back_black.png");
}


#section02 .circle{
    width: 100vw;
    height: 100vh;
    background: url("../img/section02/back.png");
    position: absolute;
    left: 0;
    top: 0;
    clip-path: circle(0px at 50% 50%);
}


.trigger-this-2{
    height: 100%;
    z-index: 100;
    position: relative;
}

.fix-this-2{
    width: 100vw;
    height: 100vh;
    position: relative;
}



#section02 .title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1000;

    /*margin-top: 1400px;*/
}


#section02 .title > div{
    margin-bottom: 29px;
}

#section02 .title > div:last-child{
    margin-bottom: 0;
}



#section02 .img > div{
    z-index: 100;
    /*이미지가 뒤로 안가요*/
}

#section02 .img01{
    position: absolute;
    left: 9%;
    top: 34%;
}


#section02 .img02{
    position: absolute;
    left: 68%;
    top: 42%;
}


#section02 .img03{
    position: absolute;
    left: 27%;
    top: 46%;
}


#section02 .img04{
    position: absolute;
    left: 49%;
    top: 55%;
}


#section02 .img05{
    position: absolute;
    left: 9%;
    top: 68%;
}



#section02 .img06{
    position: absolute;
    left: 50%;
    top: 73%;
}



#section02 .title02{
    position: absolute;
    left: 50%;
    /*top: 50%;*/
    transform: translateX(-50%);
    text-align: center;
    margin-top: 4800px;
    z-index: 1000;
}


#section02 .title02 > div{
    margin-bottom: 29px;
}

#section02 .title02 > div:last-child{
    margin-bottom: 0;
}




#section03 .horizontal{
    width: min-content;
    display: flex;
    height: 100vh;
    position: relative;
}


#section03 .horizontal > section{
    flex-shrink: 0;
    /*width: 100vw;*/
    width: 4749px;
    /*이미지 사이즈는 4749인데 무조건 5000으로 해야하는지 몰겠음. 4749하니깐 끝에 회색나옴*/
    height: 100vh;
    /*background: orange;*/
    background:url("../img/section03/back.jpg");
    position: relative;
}

#section03 .horizontal > section:nth-child(even){
    background: green;
}
/*이 코드는 왜 들어가야하는지 이유를 몰겠어요*/



#section03 .horizontal .title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}



#section03 .horizontal .img{
    position: absolute;
    top: 50%;
    left: 74%;
    transform: translate(-50%,-50%);
}

/*사진이 안떠요,,, 됐습니다.*/



/*#section03 .horizontal .img{*/
/*    transform: translate3d(0,0,0);*/
/*}*/

/*스크롤하면서 사진 회전하는거하고 싶었어요*/





#section04{
    height: 3040px;
    background:url("../img/section04/back.jpg");
}


#section04 .title{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 317px;
    text-align: center;
    z-index: 600;
}



/*#section04 .title .title1{*/
/*    position: absolute;*/
/*    transform: translate3d(0,0,0);*/
/*}*/
/*텍스트 흐르기, 반복하고싶음*/




#section04 .rotate_c{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 170px;
    margin-left: 1200px;
    /*left: 470px;*/
    /*top: 280px;*/
    z-index: 500;

    animation: rotate_c 5s linear infinite;transform-origin: 50% 50%;}
@keyframes rotate_c{
    100% {
        transform: rotate(360deg);
    }
}




#section04 .img01{
    position: absolute;
    left: 392px;
    top: 553px;
}


#section04 .img02{
    position: absolute;
    left: 925px;
    top: 785px;
}



#section04 .txt_container{
    position: relative;
    left: 0;
    top: 0;
}



#section04 .txt_container .title02{
    position: absolute;
    left: 161px;
    /*top: 0;*/
    top: 1516px;
}


#section04 .arrow{
    position: absolute;
    left: 1296px;
    top: 2121px;
    z-index: 500;
}




#section04 .txt_container .title03{
    position: absolute;
    left: 161px;
    /*top: 0;*/
    top: 1816px;
}



#section04 .txt_container .txt{
    position: absolute;
    left: 961px;
    top: 1816px;
}



#section04 .line{
    position: relative;
}
/*선 움직이는거하고싶음*/


#section04 .line .line01{
    position: absolute;
    left: 0;
    top: 1656px;
}


#section04 .line .line02{
    position: absolute;
    left: 960px;
    top: 2037px;
}



/*#section05{*/
/*    height: 3040px;*/
/*    background:url("../img/section04/back.jpg");*/
/*}*/


#section05 .horizontal{
    width: min-content;
    display: flex;
    height: 100vh;
    position: relative;
}


#section05 .horizontal > section{
    flex-shrink: 0;
    /*width: 100vw;*/
    width: 5000px;
    height: 100vh;
    /*background: orange;*/
    background:url("../img/section05/back.jpg");
    position: relative;
}

#section05 .horizontal > section:nth-child(even){
    background: green;
}


#section05 .horizontal .title01{
    position: absolute;
    left: 353px;
    top: 218px;
    z-index: 100;
}


#section05 .horizontal .title02{
    position: absolute;
    left: 1895px;
    top: 556px;
    z-index: 100;
}


#section05 .horizontal .img01{
    position: absolute;
    left: 1246px;
    top: 148px;
}


#section05 .horizontal .img02{
    position: absolute;
    left: 3140px;
    top: 132px;
}



#section05 .rotate_c01{
    position: absolute;
    left: 1496px;
    top: 518px;
    animation: rotate_c01 5s linear infinite;transform-origin: 50% 50%;}
@keyframes rotate_c01{
    100% {
        transform: rotate(360deg);
    }
}



#section05 .rotate_c02{
    position: absolute;
    left: 2600px;
    top: 218px;
    animation: rotate_c02 5s linear infinite;transform-origin: 50% 50%;}
@keyframes rotate_c02{
    100% {
        transform: rotate(360deg);
    }
}




#section06{
    height: 1552px;
    background:url("../img/section06/back.jpg");
}

#section06 .title{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 333px;
    text-align: center;
    z-index: 600;
}

#section06 .img{
    position: absolute;
    left: 50%;
    top:37%;
    transform: translateX(-50%);
}












/*.logo{*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 6%;*/
/*    transform: translateX(-50%);*/
/*    z-index: 100;*/
/*}*/


/*.hamburger{*/
/*    position: absolute;*/
/*    left: 89%;*/
/*    top: 6%;*/
/*    z-index: 100;*/
/*}*/

/*#section01{*/
/*    height: 1078px;*/
/*}*/


/*#section01 .cover{*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    position: relative;*/
/*    display: flex;*/
/*}*/


/*#section01 .txt_container01{*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%,-50%);*/
/*    text-align: center;*/
/*    z-index: 600;*/

/*}*/

/*#section01 .txt_container01 > div .float_img{*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*    opacity: 0;*/
/*    transition: all 1s;*/
/*    margin-top: -104px;*/
/*    margin-right: -145px;*/
/*}*/

/*#section01 .txt_container01 .title03 .float_img{*/
/*    margin-top: -82px;*/
/*    margin-right: -301px;*/
/*}*/

/*#section01 .txt_container01 > div:hover .float_img{*/
/*    opacity: 1;*/
/*}*/

/*#section01 .txt_container01 > div:hover .text01 .fill01{*/
/*    opacity: 1;*/
/*}*/

/*#section01 .txt_container01 > div{*/
/*    margin-bottom: 35px;*/
/*    position: relative;*/
/*}*/


/*#section01 .txt_container01 > div .text01{*/
/*    position: relative;*/
/*}*/

/*#section01 .txt_container01 > div .text01 .fill01{*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 0;*/
/*    transform: translateX(-50%);*/
/*    margin-top: 3px;*/
/*    opacity: 0;*/
/*    transition: all 1s;*/
/*}*/




/*#section01 .txt_container01 > div:hover .text02 .fill02{*/
/*    opacity: 1;*/
/*}*/


/*#section01 .txt_container01 > div .text02{*/
/*    position: relative;*/
/*}*/


/*#section01 .txt_container01 > div .text02 .fill02{*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 0;*/
/*    transform: translateX(-50%);*/
/*    margin-top: 3px;*/
/*    opacity: 0;*/
/*    transition: all 1s;*/
/*}*/



/*#section01 .txt_container01 > div:hover .text03 .fill03{*/
/*    opacity: 1;*/
/*}*/


/*#section01 .txt_container01 > div .text03{*/
/*    position: relative;*/
/*}*/


/*#section01 .txt_container01 > div .text03 .fill03{*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 0;*/
/*    transform: translateX(-50%);*/
/*    margin-top: 3px;*/
/*    opacity: 0;*/
/*    transition: all 1s;*/
/*}*/



/*#section01 .txt_container01 > div:hover .text04 .fill04{*/
/*    opacity: 1;*/
/*}*/


/*#section01 .txt_container01 > div .text04{*/
/*    position: relative;*/
/*}*/


/*#section01 .txt_container01 > div .text04 .fill04{*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 0;*/
/*    transform: translateX(-50%);*/
/*    margin-top: 3px;*/
/*    opacity: 0;*/
/*    transition: all 1s;*/
/*}*/


/*#section01 .txt_container01 .title04{*/
/*    margin-bottom: 0;*/
/*}*/




/*#section01 .rotate_c{*/
/*    position: absolute;*/
/*    left: 470px;*/
/*    top: 280px;*/
/*    z-index: 500;*/

/*    animation: rotate_c 5s linear infinite;transform-origin: 50% 50%;}*/
/*@keyframes rotate_c{*/
/*    100% {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/




/*#section01 .cover .video_main{*/
/*    width: 50vw;*/
/*    height: 110vh;*/
/*    position: relative;*/
/*    overflow: hidden;*/

/*}*/


/*#section01 .cover .video_main video{*/
/*    !*width: 100%;*!*/
/*    !*height: auto;*!*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%,-50%);*/
/*    opacity: 0;*/
/*    z-index: -1;*/
/*    transition: all .5s;*/
/*}*/

/*#section01 .cover .video_main video.on{*/
/*    opacity: 1;*/
/*    z-index: 1;*/
/*}*/


/*#section01 .cover .video_dim{*/
/*    width: 100%;*/
/*    !*height: 100%;*!*/
/*    height: 110%;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    z-index: 100;*/
/*    background-color: rgba(0,0,0,0.5);*/
/*}*/



/*#section01 .cover .right{*/
/*    background: black;*/
/*}*/


/*!*#section01 .cover > div{*!*/
/*!*    flex: 1;*!*/
/*!*    position: relative;*!*/
/*!*}*!*/


/*#section02{*/
/*    height: 5534px;*/
/*    background:url("../img/section02/back_black.png");*/

/*    !*background-color: blue;*!*/
/*}*/

/*#section02 .circle{*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    background:url("../img/section02/back.jpg");*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    clip-path: circle( 0px at 50% 50%);*/
/*}*/

/*.trigger-this-2{*/
/*    height: 100%;*/
/*    z-index: 100;*/
/*    position: relative;*/
/*}*/

/*.fix-this-2{*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    position: relative;*/


/*}*/


/*#section02 .title{*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%,-50%);*/
/*    text-align: center;*/
/*    z-index: 10;*/

/*    !*margin-top: 1400px;*!*/
/*}*/


/*#section02 .title > div{*/
/*    margin-bottom: 29px;*/
/*}*/

/*#section02 .title > div:last-child{*/
/*    margin-bottom: 0;*/
/*}*/

/*#section02 .img > div{*/
/*    z-index: 10000;*/
/*}*/

/*#section02 .img01{*/
/*    position: absolute;*/
/*    left: 9%;*/
/*    top: 34%;*/
/*}*/


/*#section02 .img02{*/
/*    position: absolute;*/
/*    left: 68%;*/
/*    top: 42%;*/
/*}*/


/*#section02 .img03{*/
/*    position: absolute;*/
/*    left: 27%;*/
/*    top: 46%;*/
/*}*/


/*#section02 .img04{*/
/*    position: absolute;*/
/*    left: 49%;*/
/*    top: 55%;*/
/*}*/


/*#section02 .img05{*/
/*    position: absolute;*/
/*    left: 9%;*/
/*    top: 68%;*/
/*}*/



/*#section02 .img06{*/
/*    position: absolute;*/
/*    left: 49%;*/
/*    top: 73%;*/
/*}*/





/*#section02 .title02{*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    !*top: 50%;*!*/
/*    transform: translateX(-50%);*/
/*    text-align: center;*/
/*    margin-top: 4800px;*/
/*}*/


/*#section02 .title02 > div{*/
/*    margin-bottom: 29px;*/
/*}*/

/*#section02 .title02 > div:last-child{*/
/*    margin-bottom: 0;*/
/*}*/




/*#section03{*/
/*    height: initial;*/
/*    background: gray;*/
/*}*/


/*#section03 .img01{*/

/*}*/



/*#section03 .horizontal{*/
/*    width: min-content;*/
/*    display: flex;*/
/*    height: 100vh;*/
/*    position: relative;*/
/*}*/


/*#section03 .horizontal > section{*/
/*    flex-shrink: 0;*/
/*    !*width: 100vw;*!*/
/*    width: 4749px;*/
/*    !*이미지 사이즈는 4749인데 무조건 5000으로 해야하는지 몰겠음. 4749하니깐 끝에 회색나옴*!*/
/*    height: 100vh;*/
/*    !*background: orange;*!*/
/*    background:url("../img/section03/back.jpg");*/
/*    position: relative;*/
/*}*/

/*#section03 .horizontal > section:nth-child(even){*/
/*    background: green;*/
/*}*/
/*!*이 코드는 왜 들어가야하는지 이유를 몰겠어요*!*/



/*#section03 .horizontal .title{*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%,-50%);*/
/*}*/



/*#section03 .horizontal .img{*/
/*    position: absolute;*/
/*    !*margin-right: 20px;*!*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%,-50%);*/
/*    z-index: 100;*/
/*}*/

/*!*사진이 안떠요,,, 됐습니다.*!*/





/*#section04{*/
/*    height: 3040px;*/
/*    background:url("../img/section04/back.jpg");*/
/*}*/


/*#section04 .title{*/
/*    position: relative;*/
/*    left: 50%;*/
/*    !*top: 50%;*!*/
/*    transform: translateX(-50%);*/
/*    margin-top: 317px;*/
/*    text-align: center;*/
/*    z-index: 600;*/
/*}*/



/*#section04 .title .title1{*/
/*    position: absolute;*/
/*}*/




/*#section04 .rotate_c{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    margin-top: 170px;*/
/*    margin-left: 1200px;*/
/*    !*left: 470px;*!*/
/*    !*top: 280px;*!*/
/*    z-index: 500;*/

/*    animation: rotate_c 5s linear infinite;transform-origin: 50% 50%;}*/
/*@keyframes rotate_c{*/
/*    100% {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/




/*#section04 .img01{*/
/*    position: absolute;*/
/*    left: 392px;*/
/*    top: 553px;*/
/*    !*margin-top: 170px;*!*/
/*    !*margin-left: 200px;*!*/
/*}*/


/*#section04 .img02{*/
/*    position: absolute;*/
/*    left: 925px;*/
/*    top: 785px;*/
/*}*/



/*#section04 .txt_container{*/
/*    position: relative;*/
/*    left: 0;*/
/*    top: 0;*/
/*}*/



/*#section04 .txt_container .title02{*/
/*    position: absolute;*/
/*    left: 161px;*/
/*    !*top: 0;*!*/
/*    margin-top: 1516px;*/
/*}*/


/*!*#section04 .txt_container .aroow{*!*/
/*!*    position: absolute;*!*/
/*!*    left: 160px;*!*/
/*!*    top: 2110px;*!*/
/*!*    !*margin-right: 200px;*!*!*/
/*!*    !*z-index: 500;*!*!*/
/*!*}*!*/

/*!*화살표가 화면에 안보여요*!*/



/*#section04 .txt_container .title03{*/
/*    position: absolute;*/
/*    left: 161px;*/
/*    !*top: 0;*!*/
/*    margin-top: 1816px;*/
/*}*/



/*#section04 .txt_container .txt{*/
/*    position: absolute;*/
/*    left: 961px;*/
/*    margin-top: 1816px;*/
/*}*/

/*!*이미지이동할때 left로 이동하는게 맞는지..? 마진 레프트로 이동해야하는건지 모르겠음*!*/



/*#section04 .line{*/
/*    position: relative;*/
/*}*/


/*#section04 .line .line01{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    margin-top: 1656px;*/
/*}*/


/*#section04 .line .line02{*/
/*    position: absolute;*/
/*    left: 960px;*/
/*    margin-top: 2037px;*/
/*}*/








/*#section05{*/
/*    background: aqua;*/
/*}*/










