


#section01{
    /*background: url("../img/section01/01.jpg");*/
    background: url("../img/section01/bg.jpg");
    height: 2392px;
}

#section01 .front{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#section01 .front .top{
    position: absolute;
    left: 160px;
    top: 59px;
}

#section01 .front .logo{
    position: absolute;
    left: 160px;
    top: 276px;
}


#section01 .front .sub_title01{
    position: absolute;
    left: 160px;
    top: 811px;
}


#section01 .front .coin01{
    position: absolute;
    left: 0;
    top: 697px;
}


#section01 .front .coin02{
    position: absolute;
    right: 0;
    top: 672px;
}


#section01 .front .coin03{
    position: absolute;
    right: 62px;
    top: 1070px;
}


#section01 .front .phone{
     position: absolute;
     right: 161px;
     top: 275px;
 }


#section01 .back{
    width: 100vw;
    height: 100vh;
    position: relative;
}


#section01 .back .main_title{
    position: absolute;
    left: 204px;
    bottom: -171px;
}


#section01 .back .user01{
    position: absolute;
    right: 193px;
    bottom: 67px;
}


#section01 .back .user02{
    position: absolute;
    right: 399px;
    bottom: -185px;
}


#section01 .back .user03{
    position: absolute;
    right: 103px;
    bottom: -430px;
}







#section02{
    height: 1308px;
    /*background: url("../img/section02/02.jpg");*/
    background: url("../img/section02/bg.jpg");
}

#section02 .title{
    position: absolute;
    left: 203px;
    top: 238px;
}


#section02 .title01{
    position: absolute;
    left: 312px;
    top: 441px;
}

#section02 .title02{
    position: absolute;
    left: 845px;
    top: 441px;
}

#section02 .title03{
    position: absolute;
    right: 236px;
    top: 441px;
}


#section02 .graph{
    position: relative;
}


#section02 .graph .graph01{
    position: absolute;
    left: 271px;
    top: 662px;
}


#section02 .graph .line{
    position: absolute;
    left: 363px;
    top: 666px;
    overflow: hidden;
    width: 0;
    transition: all 1s .7s;
}

#section02.on .graph .line{
    width: 318px;
}


#section02 .dot01{
    position: absolute;
    left: 361px;
    top: 829px;
}


#section02 .dot02{
    position: absolute;
    left: 420px;
    top: 868px;
}


#section02 .dot03{
    position: absolute;
    left: 480px;
    top: 818px;
}


#section02 .dot04{
    position: absolute;
    left: 543px;
    top: 803px;
}


#section02 .dot05{
    position: absolute;
    left: 600px;
    top: 711px;
}


#section02 .dot06{
    position: absolute;
    left: 646px;
    top: 665px;
}


#section02 .dot07{
     position: absolute;
     left: 677px;
     top: 695px;
 }



#section02 .gray{
    position: absolute;
    left: 879px;
    top: 694px;
}


#section02 .green{
    position: absolute;
    left: 880px;
    top: 700px;
}



#section02 .number{
    position: absolute;
    left: 943px;
    top: 835px;
}


#section02 .txt01{
    position: absolute;
    right: 701px;
    top: 752px;
}


#section02 .txt02{
    position: absolute;
    right: 706px;
    top: 828px;
}


#section02 .chart{
    width: 254px;
    position: relative;
    display: flex;
    text-align: center;
    align-items: flex-end;
}

#section02 .chart >li{
    margin-right: 10px;
}


#section02 .chart >li:last-child{
    margin-right: 0;
}


#section02 .chart{
    position: absolute;
    right: 245px;
    top: 682px;
}


#section02 .chart .chart01{
    overflow: hidden;
    width: 56px;
}

#section02.on .chart .chart01 .graph>div{
    height: 209px;

}
#section02 .chart .chart01 .graph>div{
    overflow: hidden;
    height: 0;
    transition: all 1s .8s;
}


#section02 .chart .chart01 .graph{
    display: flex;
    align-items: flex-end;
}


#section02 .chart .chart02{
    overflow: hidden;
    width: 56px;
    height: 0;
    transition: all 1s .9s;
}

#section02.on .chart .chart02{
    height: 113px;

}


/*#section02 .chart .chart03{*/
/*    overflow: hidden;*/
/*    width: 56px;*/
/*    height: 0;*/
/*    transition: all 1s 1s;*/
/*}*/

/*#section02.on .chart .chart03{*/
/*    height: 99px;*/

/*}*/


/*#section02 .chart .chart04{*/
/*    overflow: hidden;*/
/*    width: 56px;*/
/*    height: 0;*/
/*    transition: all 1s 1.1s;*/
/*}*/

/*#section02.on .chart .chart04{*/
/*    height: 90px;*/

/*}*/



#section02 .chart .n{
    margin-top: 10px;
}


#section02 .sub_text{
    position: absolute;
    left: 245px;
    top: 1009px;
}



#section03{
    height: 1221px;
    background: url("../img/section03/03.jpg");
    /*background: url("../img/section03/bg.jpg");*/
}

#section03 .title{
    position: absolute;
    left: 205px;
    top: 236px;
}


#section03 .sub_title01{
    position: absolute;
    left: 205px;
    top: 485px;
}


#section03 .sub_title02{
    position: absolute;
    left: 205px;
    top: 646px;
}


/*#section03 .content{*/
/*    position: relative;*/
/*}*/


#section03 .content01{
    position: absolute;
    right: 136px;
    bottom: 715px;
}


#section03 .content02{
    position: absolute;
    right: 136px;
    bottom: 429px;
}


#section03 .content03{
    position: absolute;
    right: 136px;
    bottom: 159px;
}



#section04{
    height: 2323px;
    /*background: url("../img/section04/04.jpg");*/
    background: url("../img/section04/bg.jpg");
}


#section04 .title{
    position: absolute;
    left: 203px;
    top: 236px;
}


#section04 .text{
    position: absolute;
    left: 245px;
    top: 835px;
}

#section04 .line_g{
    position: absolute;
    left: 564px;
    top: 536px;
}

#section04 .dot{
    position: absolute;
    left: 905px;
    top: 702px;
    /*마진으로 간격조절?*/
}


#section04 .dot >div{
    margin-bottom: 16px;
}


#section04 .dot >div:last-child{
    margin-bottom: 0;
}


#section04 .txt01{
    position: absolute;
    left: 1263px;
    top: 700px;
}


#section04 .txt02{
    position: absolute;
    left: 691px;
    top: 980px;
}


#section04 .txt03{
    position: absolute;
    left: 1263px;
    top: 980px;
}


#section04 .graph{
    position: relative;
}


#section04 .graph .bg{
    position: absolute;
    left: 160px;
    top: 1404px;
}


#section04 .graph .line{
    position: absolute;
    left: 400px;
    top: 1401px;
    overflow: hidden;
    width: 0;
    transition: all 1.5s .8s;
}

#section04.on .graph .line{
    width: 1105px;
}

#section04 .imo01{
    position: absolute;
    left: 393px;
    top: 1386px;
}

#section04 .imo02{
    position: absolute;
    left: 666px;
    top: 1494px;
}

#section04 .imo03{
    position: absolute;
    left: 941px;
    top: 1438px;
}

#section04 .imo04{
    position: absolute;
    left: 1209px;
    top: 1495px;
}

#section04 .imo05{
    position: absolute;
    left: 1480px;
    top: 1440px;
}


#section04 .sub01{
    position: absolute;
    left: 256px;
    top: 1680px;
}

#section04 .sub02{
    position: absolute;
    left: 533px;
    top: 1680px;
}

#section04 .sub03{
    position: absolute;
    left: 803px;
    top: 1680px;
}

#section04 .sub04{
    position: absolute;
    left: 1075px;
    top: 1680px;
}

#section04 .sub05{
    position: absolute;
    left: 1350px;
    top: 1680px;
}



#section05{
    height: 4290px;
    /*background: url("../img/section05/05.jpg");*/
    background: url("../img/section05/bg.jpg");
}

#section05 .title{
    position: absolute;
    left: 203px;
    top: 237px;
}


#section05 .moc01{
    position: absolute;
    left: 206px;
    top: 720px;
}

#section05 .moc02{
    position: absolute;
    left: 711px;
    top: 850px;
}

#section05 .moc03{
    position: absolute;
    left: 1241px;
    top: 1146px;
}

#section05 .moc04{
    position: absolute;
    left: 1241px;
    top: 2156px;
}

#section05 .moc05{
    position: absolute;
    left: 718px;
    top: 2156px;
}

#section05 .moc06{
    position: absolute;
    left: 158px;
    top: 2632px;
}

#section05 .moc07{
    position: absolute;
    left: 722px;
    top: 3129px;
}


#section05 .coin01{
    position: absolute;
    left: 29px;
    top: 285px;
}

#section05 .coin02{
    position: absolute;
    left: 0;
    top: 444px;
}

#section05 .coin03{
    position: absolute;
    right: 61px;
    bottom: 1095px;
}

#section05 .coin04{
    position: absolute;
    right: 335px;
    bottom: 1093px;
}

#section05 .coin05{
    position: absolute;
    right: 0;
    bottom: 711px;
}


#section05 .txt01{
    position: absolute;
    left: 1317px;
    top: 578px;
}


#section05 .txt02{
    position: absolute;
    left: 235px;
    top: 2018px;
}


#section05 .line01{
    position: absolute;
    left: 1498px;
    top: 782px;
}

#section05 .line02{
    position: absolute;
    left: 412px;
    top: 2224px;
}




#section06{
    height: 1444px;
    /*background: url("../img/section06/06.jpg");*/
    background: url("../img/section06/bg.jpg");
}

#section06 .title{
    position: absolute;
    left: 203px;
    top: 237px;
}

#section06 .chart{
    position: absolute;
    left: 263px;
    top: 608px;
}



#section07{
    height: 2433px;
    /*background: url("../img/section07/07.jpg");*/
    background: url("../img/section07/bg.jpg");
}

#section07 .title{
    position: absolute;
    left: 203px;
    top: 237px;
}

#section07 .green{
    position: absolute;
    left: 0;
    top: 731px;
}


#section07 .moc01{
    position: absolute;
    left: 0;
    top: 941px;
}


#section07 .moc02{
    position: absolute;
    left: 480px;
    top: 651px;
}


#section07 .line01{
    position: absolute;
    left: 1261Px;
    top: 420px;
}


#section07 .line02{
    position: absolute;
    right: 459px;
    top: 1967px;
}

#section07 .sub{
    position: absolute;
    right: 590px;
    top: 1744px;
}



#section07 .txt01{
    position: absolute;
    left: 1132px;
    top: 206px;
}


#section07 .txt02{
    position: absolute;
    right: 137px;
    top: 1876px;
}





