

#menu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background: black;
    transform: translateY(-100%)
}




#header{
    /*background: url("../img/section01/01.jpg");*/
    /*background: url("../img/section01/bg.jpg");*/

    width: 100vw;
    height: 80px;
    border-bottom: 1px solid black;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    /*opacity: .5;*/
}

#header .logo_icon{
    padding-top: 3px;
    margin-left: 119px;
    cursor: pointer;
}

#header .logo{
    padding-top: 3px;
    position: absolute;
    left: 178px;
    top: 30px;
    cursor: pointer;
    /*mix-blend-mode: difference;*/
}

#header .nav_btn{
    width: 222px;
    height: 30px;
    position: absolute;
    left: 325px;
    top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    visibility: hidden;
}


#header .navbar{
    width: 304px;
    height: 37px;
    position: absolute;
    left: 50%;
    top: 27%;
    transform: translateX(-50%);
    cursor: pointer;
    background: #fff;
    border: 1px solid black;
    border-radius: 13px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#header .navbar:hover{
    border: 1px solid #006eff;
}

#header .navbar .nav_title{
    padding-top: 5px;
    display: flex;
    animation: text 3s infinite linear;
}

#header .navbar .nav_title > div{
    margin-right: 10px;
}

@keyframes text {
    to{
        transform: translateX(-138px);
    }
}


#header .menu{
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin-right: 120px;

    /*색반전 안됨*/
    /*mix-blend-mode: difference;*/
}

#header .menu .label{
}

#header .menu .menu_bg{
    width: 39px;
    height: 39px;
    margin-left: 16px;
    background: url('../img/section01/menu_bg.png') no-repeat center;
    position: relative;
}

#header .menu .menu_bg .bar{
    width: 30px;
    height: 2px;
    background: white;
}

#header .menu .menu_bg .bar:nth-child(1){
    position: absolute;
    left: 5px;
    top: 5px;
    transform-origin: left center;
}

#header .menu .menu_bg .bar:nth-child(2){
    position: absolute;
    left: 5px;
    top: 20px;
    transform-origin: right center;
}


#section01{
    width: 1920px;
    /*background: #e4002b;*/
    /*background: url("../img/section01/001.jpg");*/
    background: url("../img/section01/bg.jpg");
    display: flex;
    justify-content: center;
}

#section01 .top{
    width: 1217px;
    height: 132px;
    display: flex;
    padding-top: 158px;
    margin-left: 1130px;
    /*margin: 0 0 0 1187px;*/
}

#section01 .top .title{
    margin-right: 42px;
}

#section01 .top .txt{
    padding-top: 82px;
}

#section01 .center_sc01{
    width: 1566px;
    height: 513px;
    position: relative;
    right: 1215px;
    top: 336px;
    display: flex;
    justify-content: space-between;
    /*opacity: .5;*/
}


#section01 .center_sc01 > div{
    position: relative;
    margin-right: 34px;
}


#section01 .center_sc01 > div:last-child{
    margin-right: 0;
}

#section01 .content01{
    width: 768px;
    height: 512px;
    position: relative;
    background: url("../img/section01/box01.png") no-repeat center;
}


#section01 .content01 .box01 .img{
    width:768px;
    height: 511px;
    position: absolute;
    left: 0;
    top: 0;
    /*background: url("../img/section01/box01.png");*/

}

#section01 .content01 .box01 .img .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#section01 .content01 .box01 .deco{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
}

#section01 .content01 .box01 .arrow_btn .left{
    position: absolute;
    left: 82px;
    top: 392px;
    z-index: 500;
}


#section01 .content01 .box01 .arrow_btn .right{
    position: absolute;
    left: 126px;
    top: 392px;
    z-index: 500;
}


#section01 .content01 .box01 .prev_num{
    position: absolute;
    left: 181px;
    top: 393px;
    z-index: 500;
}


#section01 .content01 .box01 .next_num{
    position: absolute;
    left: 202px;
    top: 392px;
    z-index: 500;
}


#section01 .content02{
    width: 328px;
    height: 513px;
    position: relative;
    z-index: 10;
    background: url("../img/section01/box02.png") no-repeat center;
}


#section01 .content02 .title_container{
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 19px;
}


#section01 .content02 .title{
    position: relative;
    border-bottom: 1px solid #006eff;
    padding-bottom: 11px;
    margin-bottom: 20px;
    cursor: pointer;
}

#section01 .content02 .title:hover{
    filter: grayscale(1)brightness(5);
}

#section01 .content02 .arrow{
    position: absolute;
    right: 0;
    top: 0;
}



#section01 .content03{
    width: 403px;
    height: 513px;
    position: relative;
    background: url("../img/section01/box03.png") no-repeat center;
}

#section01 .content03 .text{
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px;
}

#section01 .content03 .text .name{
    margin-top: 35px;
}


#section01 .bottom{
    position: absolute;
    right: 175px;
    bottom: 25px;
}

#section01 .bottom .arrow{
    position: absolute;
    right: 30px;
    bottom: 9px;
    animation: arrow 2s infinite alternate;
}
@keyframes arrow {
    to{
        transform: translateX(20px);
    }
}


#section01 .right_flow{
    width: 91px;
    height: calc(100vh - 81px);
    border-right: 1px solid black;
    border-left: 1px solid black;
    position: absolute;
    box-sizing: border-box;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 999;
    overflow: hidden;
}

#section01 .right_flow .title_top{
    text-align: center;
    padding: 0 0 0 14px;
}

#section01 .right_flow .title_bottom{
    text-align: center;
    padding: 0 12px 0 11px;
    margin-top: -1255px;
}




#section02{
    width: 1920px;
    background: #fff;
    /*background: url("../img/section02/02.jpg");*/
    display: flex;
    /*opacity: .5;*/
}

#section02 .top{
    width: 550px;
    height: 123px;
    display: flex;
    position: relative;
    padding-top: 146px;
    margin-left: 178px;
}

#section02 .top .title{
    margin-right: 41px;
}

#section02 .top .txt{
    padding-top: 75px;
    margin-right: 0;
    margin-left: 0;
    z-index: 500;
}

#section02 .top .line{
    /* width: 1491px; */
    width: 0;
    overflow:hidden;
    border-top: 1px solid #555555;
    position: absolute;
    left: 328px;
    bottom: 0;
}





#section02 .deco{
    position: relative;
    z-index: 500;
    /*display: flex;*/
}


#section02 .deco .deco1{
    position: absolute;
    left: 240px;
    top: 170px;
}

#section02 .deco .deco1_2{
    margin: -85px 0 0 75px;
}

#section02 .deco .deco2{
    position: absolute;
    left: 474px;
    top: 198px;
}

#section02 .deco .deco3{
    position: absolute;
    left: 1117px;
    top: 193px;
}

#section02 .deco .deco3 .txt{
    position: absolute;
    left: 7px;
    top: 8px;
}





#section02 .center_sc02{
    width: 1487px;
    height: 633px;
    position: relative;
    display: flex;
    justify-content: space-between;
}




#section02 .center_sc02 .profile{
    width: 362px;
    height: 633px;
    position: relative;
    /*display: flex;*/
    /*flex-direction: column;*/
    padding-top: 268px;
    margin-left: -551px;
    margin-right: 0;
    /*margin: 0 0 0 -550px;*/
}

#section02 .center_sc02 .profile .gli{
    position: absolute;
    left: 263px;
    top: 257px;
}

#section02 .center_sc02 .profile .txt_box{
    padding-top: 8px;
    margin-left: -17px;
}

#section02 .profile .txt_box .bottom_line{
    position: absolute;
    left: 45px;
    bottom: 60px;
}

#section02 .profile .txt_box .txt{
    position: absolute;
    left: 48px;
    bottom: 79px;
}

#section02 .profile .txt_box .cursor_line{
    position: absolute;
    right: 93px;
    bottom: 75px;
    animation: blink 1s infinite alternate;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}



#section02 .profile .txt_box .cursor_icon{
    position: absolute;
    right: 58px;
    bottom: 60px;
}



#section02 .center_sc02 .info{
    width: 963px;
    height: 534px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 339px;
    margin-right: 273px;
}

#section02 .center_sc02 .info .left{
    position: relative;
}

#section02 .center_sc02 .info .left .title1{
    margin-bottom: 63px;
}

#section02 .center_sc02 .info .left .text1{
    padding-top: 35px;
}


#section02 .center_sc02 .info .left .title2{
    margin-bottom: 65px;
}


#section02 .center_sc02 .info .left .text2{
    padding-top: 39px;
}



/*#section02 .center_sc02 .left .title3 .icon1{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 29px;*/
/*}*/

/*#section02 .center_sc02 .left .title3 .icon2{*/
/*    position: absolute;*/
/*    left: 201px;*/
/*    bottom: 29px;*/
/*}*/

#section02 .info .left .title3 .icon{
    display: flex;
    align-items: center;
    padding-top: 37px;
}

#section02 .info .left .title3 .icon > div:nth-child(1){
    margin-right: 48px;
}



#section02 .info .left .title3 .txt{
    display: flex;
    align-items: center;
    padding-top: 16px;
}

#section02 .info .left .title3 .txt > div:nth-child(1){
    margin-right: 126px;
}

/*#section02 .center_sc02 .left .title3 .text3{*/
/*    padding-top: 81px;*/
/*}*/

/*#section02 .center_sc02 .left .title3 .text4{*/
/*    margin: -15px 0 0 201px;*/
/*}*/


#section02 .center_sc02 .info .right{
    position: relative;
}

#section02 .center_sc02 .info .right .title4{
    margin-bottom: 55px;
}

#section02 .center_sc02 .info .right .text4{
    padding-top: 36px;
    margin-bottom: 0;
}

#section02 .center_sc02 .info .right .title5{
    padding-top: 0;
    margin-bottom: 65px;
}

#section02 .center_sc02 .info .right .text5{
    padding-top: 34px;
}

#section02 .center_sc02 .info .right .text6{
    padding-top: 34px;
}






#section03{
    width: 4854px;
    background: black;
    /*background: url("../img/section03/03.jpg");*/
    display: flex;
    /*justify-content: center;*/
}

#section03 .top{
    width: 1618px;
    height: 367px;
    display: flex;
    padding-top: 211px;
    margin-left: 0;
    /*margin: 0 0 0 1187px;*/
}

#section03 .top .title{
    margin: -67px 0 0 96px;
}


#section03 .bottom{
    width: 708px;
    height: 186px;
    position: absolute;
    left: 181px;
    bottom: 115px;
}

#section03 .bottom .category{
    /*display: flex;*/
    padding-top: 53px;
    margin-top: 0;
    /*align-items: center;*/
    /*margin-top: 53px;*/
    margin-left: 31px;
    /*flex-direction: column;*/
}

#section03 .bottom .category .c_top{
    display: flex;
    margin-bottom: 33px;
}

#section03 .bottom .category .c_top > div:nth-child(1){
    margin-left: 0;
}

#section03 .bottom .category .c_top > div:nth-child(2){
    margin-left: 164px;
}

#section03 .bottom .category .c_top > div:last-child{
    margin-left: 179px;
}




#section03 .bottom .category .c_bottom{
    display: flex;
    /*justify-content: space-between;*/
}

#section03 .bottom .category .c_bottom > div:nth-child(1){
    margin-left: 0;
}

#section03 .bottom .category .c_bottom > div:nth-child(2){
    margin-left: 137px;
}

#section03 .bottom .category .c_bottom > div:last-child{
    margin-left: 136px;
}






#section03 .center_sc03{
    width: 3320px;
    height: 640px;
    display: flex;
    margin-left: -186px;
    padding-top: 192px;
}

#section03 .center_sc03 .project_container{
    width: 2688px;
    height: 640px;
    display: flex;
    position: relative;
    /*margin-left: -186px;*/
    /*padding-top: 192px;*/
    /*right: 893px;*/
    /*top: 190px;*/
    backdrop-filter: blur(7px);
}

#section03 .center_sc03 .project_container > div{
    margin-right: 8px;
}

#section03 .center_sc03 .project_container > div:last-child{
    margin-right: 0;
}

#section03 .project_container > div{
    width: 440px;
    height: 639px;
    position: relative;
    border: solid 1px #8f8f8f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,.2);
}

#section03 .project_container > div .category{
    padding-top: 65px;
}

#section03 .project_container > div .img{
    overflow: hidden;
}

#section03 .project_container > div .img img{
    transition: all 0.5s;
}

#section03 .project_container > div:hover .img img{
    transform: scale(1.2)
}

#section03 .project_container >div .img{
    margin-bottom: 10px;
}

#section03 .project_container >div .num_icon{
    position: absolute;
    left: 96px;
    bottom: 140px;
}

#section03 .project_container >div .name{
    margin-bottom: -27px;
}

#section03 .project_container > div .sub{
    margin-bottom: 64px;
}




#section03 .center_sc03 .right{
    padding-top: 211px;
    margin-left: 130px;
    /*margin: 0 0 0 -764px;*/
}

#section03 .center_sc03 .right .arrow_line{
    margin-bottom: 26px;
}

#section03 .center_sc03 .right .contact{
    margin-left: 10px;
}



#section03 .click_btn{
    position: relative;
    right: 214px;
    bottom: -760px;
}

#section03 .click_btn .name{
    position: absolute;
    left: 41px;
    top: 74px;
}


















#section04{
    width: 100vw;
    background: #efb456;
}

